 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 271px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 83px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 178px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin: 56px 46px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 101px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 378px;
    margin: 31px auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 90px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin: 28px 12px 27px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 584px;
}

.u-section-2 .u-shape-1 {
  height: 458px;
  background-image: none;
  --radius: 20px;
  margin-top: 87px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 259px;
  height: 259px;
  background-image: url("images/Screenshot2024-09-07at5.47.22PM.png");
  background-position: 50% 50%;
  margin: -398px auto 0 34px;
}

.u-section-2 .u-text-1 {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  margin: -282px 26px 0 319px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: -48px 856px 0 43px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -79px 864px 60px 50px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  width: auto;
  margin: -48px 81px 464px 153px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-2 .u-shape-1 {
    height: 547px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -493px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -276px;
    margin-right: 18px;
    margin-left: 294px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -107px;
    margin-right: 709px;
    margin-left: 64px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -88px;
    margin-right: 682px;
    margin-left: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-2 .u-shape-1 {
    height: 481px;
    margin-top: 36px;
  }

  .u-section-2 .u-image-1 {
    width: 191px;
    height: 191px;
    margin-top: -361px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
    margin-top: -286px;
    margin-right: 26px;
    margin-left: 205px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -103px;
    margin-right: 565px;
    margin-left: 36px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -52px;
    margin-right: 575px;
    margin-left: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-2 .u-shape-1 {
    height: 338px;
    margin-top: 46px;
  }

  .u-section-2 .u-image-1 {
    width: 135px;
    height: 135px;
    margin-top: -258px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.625rem;
    margin-top: -199px;
    margin-right: 13px;
    margin-left: 155px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -66px;
    margin-right: 392px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
    margin-top: -45px;
    margin-right: 414px;
    margin-left: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    height: 504px;
    margin-top: 22px;
  }

  .u-section-2 .u-image-1 {
    width: 100px;
    height: 100px;
    margin-top: -492px;
    margin-left: 44px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 22px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
    margin-top: -399px;
    margin-right: 90px;
    margin-left: 162px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -3645px;
    margin-right: 173px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.875rem;
  }
}